@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	background-color: #fff
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	height: auto
	h1
		font-weight: 100
	p
		font-weight: 300
		font-size: 15px



.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

header
	height: 100vh


h5
	text-transform: uppercase
	font-weight: 100 

/////////////////custom////////////////////////

.my-prim-button
	background-color: rgba(#000, .34)
	color: #fff
	border-radius: 100px
	font-size: 14px
	font-weight: 300!important
	width: 183px!important
	height: 50px
	transition: .5s ease
	padding: 0
	outline: none
	bottom: 30px
	position: relative
	i
		color: #fff
		transform: translateX(19px)
		text-align: center
		padding: 0
		transition: .2s ease
	&:hover
		box-shadow:  0 3px 2px rgba(#000, .25)
		transform: translateY(1px)
		background-color: rgba(#000, .5)
		i
			transform: translateX(50px)
			color: transparent
	&:focus
		box-shadow: 0 3px 3px rgba(#000, .4)



.secondary-button
	margin: 10px 0
	width: 190px!important
	height: 38px
	border-radius: 100px
	background-color: #fff
	font-size: 12px
	color: #444
	border: 0
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.01), 0 2px 3px rgba(0, 0, 0, 0.1)
	transition: all 0.3s cubic-bezier(.25,.8,.25,1)
	&:hover
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.35)
	&:focus
		outline: none
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.01), 0 2px 3px rgba(0, 0, 0, 0.1)



.navbar-dark
	position: fixed
	top: 0
	padding: 0
	padding-top: 8px
	z-index: 1000
	&:after
		transition: .2s
		content: ''
		position: absolute
		height: 65px
		width: 100%
		background-color: rgba(#fff, 1)!important
		transform: translateY(-65px)
	.navbar-brand
		opacity: .7!important
		z-index: 2
	.ml-auto
		margin-top: 4px
	.nav-item
		margin-right: 10px
		width: 120px
		border-radius: 3px
		text-align: center
		z-index: 10
		transition: .3s ease
		&:hover
			background-color: rgba(#fff, 0.1)
		.nav-link
			color: #fff!important
			font-size: 11px
			white-space: nowrap
			overflow: hidden
			&:focus
				outline: 0!important
				box-shadow: none
			.fal
				font-size: 14px
	.search-link
		width: 35px
		margin-right: 10px
		padding: 0 5px
		&:hover
			background-color: transparent
			outline: 0!important
			i
				color: $accent
	



.first-element.rotate-first-class::after
	transform: rotate(180deg)!important
	transition: .13s ease





.bgvideo
	height: 100vh
	overflow: hidden
	position: relative
	.h-section
		p
			margin-top: 0
		button
			margin-top: 15px




.navbar-toggler
	border: none
	&:focus
		outline: none



video
	left: 51%
	min-height: 100%
	min-width: 100%
	position: relative
	top: 50%
	transform: translate(-51%, -50%)
	background-size: cover


.h-section
	position: absolute
	z-index: 2
	height: 400px
	max-width: 700px
	min-width: 344px
	top: 50%
	left: 50%
	margin-right: -50%
	transform: translate(-50%, -50%)
	color: #fff
	text-align: center
	.p
		color: $accent!important
		text-transform: uppercase
	h1
		font-weight: 500!important
		margin: 0
		color: #fff
		margin-bottom: 20px
	a
		color: #fff
		&:hover, &:focus
			text-decoration: none
.right-element
	list-style: none
	position: absolute
	right: 20px
	top: 45%
	z-index: 2
	li
		margin-bottom: 30px
		a
			color: #fff 
			border-radius: 100px
			background-color: rgba(#aaa, .3)
			padding: 11px
			padding-left: 13px
			padding-right: 13px
			transition: .25s ease
			font-size: 13px
			&:hover
				background-color: rgba($accent, .5)
.center-element
	display: none
.section-left
	position: absolute
	bottom: 30px
	z-index: 2
	left: 60px
	p
		color: #fff
		font-weight: 300
		font-size: 14px



.menu-btn
	display: block
	width: 20px
	padding: 20px
	position: relative
	right: 20px
	z-index: 2
	cursor: pointer!important
	span
		&::before, &::after
			position: absolute
			top: 50%
			margin-top: -1px
			left: 50%
			margin-left: -10px
			width: 25px
			height: 1px
			background-color: #888
		&::before, &::after
			content: ''
			display: block
			transition: 0.6s
		&::before
			transform: translateY(-4px)
		&::after
			transform: translateY(4px)

.menu-btn_active span
	&:before
		transform: rotate(-135deg)
		transform-origin: center
	&:after
		transform: rotate(-45deg)
		transform-origin: center

.menu-block
	display: flex
	justify-content: center
	align-items: center

.menu-nav
	background-color: #fff
	height: 50px

.menu-nav__link
	display: inline-block
	text-decoration: none
	color: #fff
	margin-right: 20px
	transition: 0.5s
	transform-origin: right center
	transform: translateX(50%)
	opacity: 0

.menu-nav__link_active
	transform: translateX(0%)
	opacity: 1


.navbar.fixed-top.navbar-expand-md.navbar-dark.wow.fadeInDown.navbar-active
	visibility: visible!important

.navbar-dark.navbar-active
	.search-link
		a
			background-color: transparent!important
	&:after
		box-shadow:  0 3px 2px rgba(#000, .3)
		content: ''
		position: absolute
		height: 70px
		width: 100%
		background-color: rgba(#fff, 1)!important
		transform: translateY(0)
	.nav-item
		.nav-link
			color: #666!important
			border-radius: 3px
			&:hover
				background-color: rgba(#555, .1)

.sidenav-color
	background-color: #fff!important
	box-shadow: none

.sidenav
	z-index: 10000
	padding-right: 0
	display: none
	height: 100vh
	width: 270px
	position: fixed
	z-index: 100000
	top: 0
	left: 0
	background: rgba(#000, .7)
	transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) .05s
	z-index: 10000000
	transform: translateX(-270px)
	padding-top: 70px
	p
		color: #fff
		margin-top: 25px
		font-size: 14px
		padding-left: 25px
		position: absolute
		bottom: 0!important
	.navbar-nav
		width: 100%
		border-bottom: 1px solid rgba(#aaa, .18)
		padding-bottom: 40px
		li
			margin-left: 30px
	a
		padding: 8px 7px 8px 32px
		text-decoration: none
		color: #fff
		font-size: 12px
		margin-bottom: 10px
		width: 100%
	i
		font-size: 17px
		color: #eee
	.center-element
		border-bottom: 1px solid rgba(#aaa, .18)
		margin: 0!important
		padding-left: 8px
		padding-right: 30px
		padding-bottom: 24px
		i
			margin: 30px 0
			padding: 0


.sidenav-close
	transform: translateX(0px)
	.navbar
		right: 100px



//////////////////////body////////////////////////




.s-head1
	text-align: center
	margin: 60px 0



.card-container
	text-align: center
	padding: 40px 0
	.card2
		transform: translateY(30px)
	.cards
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		height: 438px
		min-width: 320px
		max-width: 500px
		margin: auto
		margin-bottom: 50px
		padding-top: 40px
		transition: .25s
		border-radius: 5px
		position: relative
		&::after
			border-radius: 5px
			z-index: 2
			content: ''
			height: 438px
			width: 100%
			background-color: rgba(#000, .6)
			position: absolute
			top: 0
			left: 0
		ul
			list-style-type: none
			padding: 0
			margin: 0
			z-index: 3
			position: relative
			li
				border-bottom: 1px solid rgba(#333, .1)
				padding-top: 7px
				z-index: 3
				position: relative
				border-bottom: 1px solid rgba(#fff, .1)
				transition: .3s ease
				&:hover
					border-bottom: 1px solid rgba(#fff, .2)
		p
			font-weight: 100
			margin-bottom: 7px
			position: relative
			z-index: 3
			color: #fff
		.i-serv
			background-color: rgba($accent, .5)
			color: #fff
			position: relative
			z-index: 3
			font-size: 30px
			margin: 8px 0
			margin-bottom: 30px
			border-radius: 100%
			padding: 18px
			width: 70px
			transition: all 0.3s cubic-bezier(.25,.8,.25,1)
		button
			margin-top: 20px
			transition: all 0.3s cubic-bezier(.25,.8,.25,1)
		span
			position: relative
			z-index: 3
		h5
			font-weight: 500
			z-index: 3
			position: relative
			color: #fff
			font-size: 16px
		button
			position: relative
			z-index: 3
			margin-top: 20px
			background-color: rgba($accent, .6)
			color: #fff
			transition: all 0.3s cubic-bezier(.25,.8,.25,1)
			i
				margin-left: 10px
				font-size: 18px
				position: relative
				line-height: 6px
				top: 3px
				transition: .3s ease
			&:hover
				background-color: rgba($accent, .2)
				i
					transform: translateX(25px)
					color: transparent
		a
			font-weight: 100
			margin-bottom: 7px
			position: relative
			z-index: 3
			color: #fff
			text-decoration: none
			transition: .9 ease
			&:hover
				color: #ddd


.center
	text-align: center





.contact-section
	height: auto
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
	width: auto
	background-size: cover
	.col-lg-4
		h2
			margin-bottom: 40px
			margin-top: 70px
			color: #fff
			font-weight: 700
		p
			color: #fff
			font-weight: 300
			font-size: 17px
			margin-bottom: 40px
		.icon-par
			font-size: 14px
			i
				font-size: 26px
	.form-container
		width: 470px
		height: auto
		background-color: #fff
		margin: 70px 0
		margin-top: 112px
		border-radius: 4px
		padding-top: 16px
		h4
			margin: 10px 0
			font-weight: 400
			letter-spacing: -2px
		i
			border-left: 1px solid rgba(#aaa, 0.6)!important
			padding: 10px 0
			padding-top: 9px
			color: #444
			padding-left: 14px 
			position: relative
			top: 1px
			right: -5px
			font-size: 15px
			border-radius: 100px 0 0 100px
			border-top: 1px solid rgba(#aaa, 0.6)!important
			border-bottom: 1px solid rgba(#aaa, 0.6)!important
			margin: 0
			transition: .5s

.active-icon.form-container
	.fa-user-alt
		border-left: 1px solid rgba($accent, 1)!important
		border-top: 1px solid rgba($accent, 1)!important
		border-bottom: 1px solid rgba($accent, 1)!important
	
.active-icon1.form-container
	.fa-mobile
		border-left: 1px solid rgba($accent, 1)!important
		border-top: 1px solid rgba($accent, 1)!important
		border-bottom: 1px solid rgba($accent, 1)!important

.active-icon2.form-container
	.fa-envelope-open
		border-left: 1px solid rgba($accent, 1)!important
		border-top: 1px solid rgba($accent, 1)!important
		border-bottom: 1px solid rgba($accent, 1)!important


input, select
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0
	background-color: transparent
	border-right: 1px solid rgba(#aaa, 0.6)!important
	border-top: 1px solid rgba(#aaa, 0.6)!important
	border-bottom: 1px solid rgba(#aaa, 0.6)!important
	border-left: none!important
	border-radius: 0px 100px 100px 0
	padding: 8px 10px
	margin-bottom: 10px
	transition: .5s
	outline: none
	font-size: 11px
	color: #888!important
	width: 172px
	font-weight: 300
	margin-right: 10px
	&::-webkit-input-placeholder
		color: #888
		opacity: 1
	&::moz-placeholder
		color: #888
		opacity: 1
	&::ms-placeholder
		color: #888
	&:focus
		border: 1px solid rgba($accent, 1)!important
		border-left: none!important


#mail-form
	max-width: 87%
	min-width: 87%
	margin-bottom: 16px

label
	margin-right: 113px
	margin-left: 20px
	font-size: 15px

textarea
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent
	border: none!important
	border-bottom: 1px solid rgba(#aaa, 0.6)!important
	padding: 6px 10px
	margin-bottom: 30px
	outline: none
	font-size: 13px
	color: #111!important
	transition: .5s ease
	width: 88%
	font-weight: 300
	margin-left: 15px
	resize: none
	&::-webkit-input-placeholder
		color: #111
		opacity: 1
	&::moz-placeholder
		color: #111
		opacity: 1
	&::ms-placeholder
		color: #111
	&:focus
		border-bottom: 1px solid rgba($accent, 1)!important


.callback
	padding: 6% 3%
	position: relative
	.button-form
		background-color: rgba($accent, 2)
		font-size: 12px
		color: #fff	
		border-radius: 100px
		padding: 9px 20px
		float: right
		position: relative
		right: 20px
		margin: 0
		bottom: 33px
		width: 140px
		height: 43px
		margin-top: 5px
		line-height: 20px
		font-weight: 300
		&:hover
			background-color: rgba($accent, .6)


.form-check-input
	position: absolute
	left: -40px
	top: 2px
	-webkit-appearance: checkbox


.owl-stage
	display: flex
	text-align: center
	.owl-item
		margin-top: 30px
		margin-bottom: 130px
		img
			max-width: 50%
			width: auto
			margin: auto
			display: inline-block
			max-height: 90px
			text-align: center
			margin-bottom: 30px
			border-radius: 100%



.owl-nav
	position: absolute
	top: 100px
	width: 100%
	z-index: 2
	color: #bbb
	font-size: 40px
	padding: 0px
	&:hover, &:focus
		opacity: .6
		outline: none
	.owl-prev
		left: -20px!important
		position: absolute
		padding: 0 20px
		&:hover, &:focus
			opacity: .6
			outline: none
	.owl-next
		right: -20px!important
		position: absolute
		&:hover, &:focus
			opacity: .6
			outline: none


.partner
	width: 57%
	margin: auto
	p
		color: #aaa
		letter-spacing: -1px
	h5
		font-weight: 500
		letter-spacing: -1px

.team-container
	margin: auto
	margin: 60px 30px
	text-align: center!important
	.col-md-6
		padding: 0 10px
		img
			border-radius: 100%
			margin-bottom: 40px
			border: none!important
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		h4
			margin-bottom: 16px
			font-size: 17px
			color: #333
			text-transform: uppercase
		h5
			margin-bottom: 20px
			font-weight: 700
			font-size: 11px
			color: #666
			letter-spacing: -1px
		p
			font-weight: 100
			font-size: 15px
			margin: 30px 0
			letter-spacing: -1px
		a
			color: #777
			margin-right: 22px
			i
				font-size: 19px
				margin-bottom: 80px
				&:hover
					opacity: .7


.right
	text-align: right
.left
	text-align: left



.s-work
	.center
		margin-bottom: 51px
	p
		letter-spacing: -1px
		margin-bottom: 40px
		font-size: 15px
	h4
		margin: 30px 0
		letter-spacing: -1px
		font-size: 20px
	img
		margin-bottom: 0
		margin: 30px 0 
		border-radius: 35px


footer
	height: auto
	background-size: cover
	.nav-footer	
		margin-bottom: 40px
		li
			i
				transition: .4s
			&:hover
				i
					color: $accent
		a
			font-size: 12px
		i
			font-size: 15px
	.f-row
		padding-top: 55px
	.col-md-12
		text-align: center
		position: relative
		z-index: 10
		color: #eee
		a
			color: #999
	&::after
		position: absolute
	.right-element
		display: inline-flex
		position: relative
		margin: 0
		margin-left: 37px
		padding: 0
		li
			margin-left: 24px
	.section-left
		position: absolute
		top: 0
		right: 60px
	img
		margin-bottom: 15px
	.icon-footer
		margin-bottom: 40px
		.section-left
			display: block!important
			p
				color: #999
	.low-foot
		p
			text-align: center
			position: relative
			z-index: 3
			font-size: 14px
			color: #999
			margin: 0
			margin-top: 3px
	.img-footer
		margin-bottom: 40px
		p
			margin: 0
			font-weight: 300
			color: #999


.dropdown-menu
	padding: 5px
	border: 0
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	width: 80%!important
	a
		font-size: 11px
		color: rgba(#000, .7)
		font-weight: 500
		padding: 12px 10px
		border-radius: 4px
		transition: .23s ease
		&:hover
			color: rgba(#fff, .7)
			background-color: $accent
			box-shadow: 0 5px 10px rgba(0,0,0,0.11), 0 2px 3px rgba(0,0,0,0.16)
			i	
				color: #fff
	i
		font-size: 17px
		color: #555
		transition: .23s ease

.s-counter
	background-size: cover
	height: auto
	background-color: #fff
	text-align: center	
	margin-bottom: -22px
	padding-bottom: 40px
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	.counter-item
		transition: .6s ease
		flex-wrap: wrap
		&:hover
	h3
		color: #333
		font-weight: 300
		font-size: 35px
		margin-top: 60px
		margin-bottom: 15px
	h5
		color: #666
		font-size: 14px
		font-weight: 500
		margin-bottom: 70px



.on-top
	i
		position: fixed
		padding: 10px
		text-align: center
		width: 50px
		border-radius: 100%
		background-color: rgba(#fff, .1)
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		z-index: 10
		bottom: 15px
		right: 20px
		font-size: 30px
		color: rgba(#000, .8)
		transition: .3s
		transform: translateY(90px)
		&:hover
			color: rgba(#000, .4)
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.on-top_active
	i
		transform: translateY(0px)






.timeline
	line-height: 1.4em
	list-style: none
	margin: 0
	padding: 0
	width: 100%
	p
		color: #777
		font-size: 13px
	.brand-logo
		color: #000!important
	.my-logo
		border: 2px solid #555

.how
	margin-bottom: 120px
	h3
		margin-bottom: 90px
		z-index: 100
h3
	z-index: 1000
.timeline-item
	padding-left: 40px
	position: relative
	&:last-child
		padding-bottom: 0


.timeline-info
	font-size: 9px
	font-weight: 700
	letter-spacing: 1px
	margin: 0 0 .5em 0
	text-transform: uppercase
	white-space: nowrap
	color: #444


.timeline-marker
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 15px
	&:before
		background: $accent
		border: 3px solid transparent
		border-radius: 100%
		content: ""
		display: block
		height: 15px
		position: absolute
		top: 4px
		left: 0
		width: 15px
		transition: background 0.3s ease-in-out, border 0.3s ease-in-out
	&:after
		content: ""
		width: 2px
		background: rgba(#CCD5DB, .4)
		display: block
		position: absolute
		top: 24px
		bottom: 0
		left: 6px

.timeline-item
	&:last-child .timeline-marker:after
		content: none
	&:not(.period):hover .timeline-marker:before
		background: transparent
		border: 3px solid $accent


.timeline-content
	padding-bottom: 40px
	p:last-child
		margin-bottom: 0



.period
	padding: 0
	.timeline-info
		display: none
	.timeline-marker
		&:before
			background: transparent
			content: ""
			width: 15px
			height: auto
			border: none
			border-radius: 0
			top: 0
			bottom: 30px
			position: absolute
			border-top: 3px solid #CCD5DB
			border-bottom: 3px solid #CCD5DB
		&:after
			content: ""
			height: 32px
			top: auto
	.timeline-content
		padding: 40px 0 70px
	.timeline-title
		margin: 0

.marker-outline
	.timeline-marker:before
		background: transparent
		border-color: $accent
	.timeline-item:hover .timeline-marker:before
		background: $accent

.s-info
	background-size: cover
	position: relative
	bottom: 0
	background-color: #262626
	height: auto
	text-align: center
	&::before
		content: ""
		left: 0
		width: 100%
		height: 100%
		position: absolute
		background-color: rgba(#000, .8)
	.info-icons
		margin: 20px
		text-align: center
		.info-1
			padding: 35px
			box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2)
			position: relative
			transition: .2s ease
			margin-bottom: 20px
			i
				font-size: 19px
				margin: 22px 0
				color: rgba(#fff, 0.3)
				transition: .5s ease
				border-radius: 100%
				padding: 26px
				width: 75px
				background-color: rgba(#fff, 0.1)
			h4
				margin-bottom: 15px
				color: #666
			p
				color: #666
				font-weight: 300
			&:hover
				box-shadow: 0px 3px 2px rgba(#000, 0.4)
				transform: translate(0px,-5px)	
				i
					color: rgba($accent, 0.5)
					transform: translate(0px,-6px)	
					background-color: rgba(#fff, 0.3)
				p
					color: #555
				h4
					color: #aaa






@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)

.preloader
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 1000000
	background-color: rgba(#000, .9)   
	.pulse
		position: relative
		left: 50%
		top: 40vh
		margin-left: -40px
		margin-right: -40px
		&::after, &::before
			content: ' '
			border: 5px solid #bdc3c7
			width: 80px
			height: 80px
			border-radius: 500px
			position: absolute
		&::before
			animation: pulse-outer .8s ease-in infinite
		&::after
			animation: pulse-inner .8s linear infinite

@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)

@keyframes pulse-inner
	0%
		@include opacity(0)
		transform: scale(0)
	100%
		@include opacity(100)
		transform: scale(1)





.modal
	border: 0
	.modal-content
		height: 500px
	.modal-header
		border: none!important
	.modal-footer
		border: none!important







///////////////////////////media/////////////////////////















@import "media" // Always at the end

// @media screen and (max-height: 490px)





@media (min-width: 992px)
	.timeline-centered
		display: block
		margin: 0
		padding: 0
		.timeline-item, .timeline-info, .timeline-marker, .timeline-content
			display: block
			margin: 0
			padding: 0
		.timeline-item
			padding-bottom: 40px
			overflow: hidden
		.timeline-marker
			position: absolute
			left: 50%
			margin-left: -7.5px
		.timeline-info, .timeline-content
			width: 50%
		> .timeline-item
			&:nth-child(odd)
				.timeline-info
					float: left
					text-align: right
					padding-right: 30px
				.timeline-content
					float: right
					text-align: left
					padding-left: 30px
			&:nth-child(even)
				.timeline-info
					float: right
					text-align: left
					padding-left: 30px
				.timeline-content
					float: left
					text-align: right
					padding-right: 30px
			&.period .timeline-content
				float: none
				padding: 0
				width: 100%
				text-align: center
		.timeline-item.period
			padding: 50px 0 90px
		.period
			.timeline-marker:after
				height: 30px
				bottom: 0
				top: auto
			.timeline-title
				left: auto


@media screen and (max-width: 490px)
	input
		width: 82%
	.form-container
		width: 330px!important
		text-align: left
		padding-bottom: 20px
	#mail-form
		max-width: 80%
		min-width: 80%
		margin-bottom: 16px
	label
		margin: 0
		margin-left: 12px
	.name-form
		display: none
	.form-check-input
		left: -90px!important
	.button-form
		right: 11px!important
		margin-top: 15px!important

	.form-check-input
		display: none

	.form-check-label
		display: none

	.card-container
		.col-lg-12
			height: 438px
			max-width: 330px
			margin: auto
			margin-bottom: 50px
			padding-top: 40px
	

	.partner
		p
			font-size: 11px


@media screen and (max-width: 354px)

	.s-info
		p
			font-size: 11px
	.form-container
		width: 288px!important
		text-align: left
	.form-check-input
		left: -72px!important

	.card-container
		.col-lg-12
			height: 438px
			max-width: 300px
			margin: auto
			margin-bottom: 50px
			padding-top: 40px
	h1
		font-size: 34px























/////////////////////////price///////////////////




.bgvideo1
	height: 80vh
	overflow: hidden
	position: relative
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		background-color: rgba(#000, .7)
		width: 100%
		height: 80vh
	.right-element
		top: 30vh
		position: fixed
	.h-section
		top: 60%
		max-width: 500px
		min-width: 320px
		padding: 30px
.btn
	margin: 10px 10px
	outline: none
	box-shadow: none
	width: 180px
	height: 46px
	font-size: 13px
	border-radius: 100px
	line-height: 30px
	font-weight: 100
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	i
		position: relative
		top: 1px
		left: 15px
		transition: .35s ease
	&:hover
		i
			transform: translateX(30px)
			color: transparent 

.prim-btn
	background-color: rgba($accent, .6)
	color: #fff
	&:hover
		color: #fff
		background-color: rgba($accent, .4)
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
.second-btn
	background-color: transparent
	border: 1px solid rgba(#fff, .8)
	color: #fff!important
	font-weight: 300
	&:hover
		background-color: rgba(#fff, .04	)
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		
.p-head
	font-weight: 700
	margin: 10px 0
	margin-bottom: 120px
	



.land-page
	padding: 100px 0
	.container
		padding: 60px 20px
		background-color: #fff!important
		border-radius: 5px
		background-color: rgba(#000, .1)
	h4
		margin-top: 40px
		padding-bottom: 15px
		font-size: 16px
		text-transform: uppercase
		font-weight: 700!important
	.prim-btn
		background-color: $accent
		margin-bottom: 8px
		margin-top: 20px
		box-shadow: none
		&:hover
			background-color: rgba($accent, .8)
	.second-btn
		margin-top: 0
		color: #000!important
		box-shadow: none
		border: 1px solid rgba(#888, .3)
		i
			color: #666
		&:hover
			i
				color: transparent



.landing-all
	background-color: #fff
	position: relative
	height: 550px
	transition: .25s
	max-width: 450px
	min-width: 320px
	margin: auto
	padding: 0
	border-radius: 6px
	padding: 0 66px
	.li-pro
		font-weight: 100
	ul
		list-style: none
		display: inline
		padding: 0
		li 
			font-size: 12px
			text-transform: capitalize
			border-bottom: 1px solid rgba(#000, .1)
			padding: 5px 0
			.fa-times
				color: #9F0000
			.fa-check
				color: green
			i
				position: absolute
				right: 70px

.btn
	width: 150px
	height: 45px

.landing-starter
.landing-basic
	background-color: $accent
	color: #fff
	li
		border-bottom: 1px solid rgba(#eee, .1)!important
		i
			color: #fff!important
	.prim-btn
		background-color: rgba(#fff, .2)
		font-weight: 300
		&:hover
			background-color: rgba(#fff, .4)
	.second-btn
		background-color: #fff
		border: none
		i
			color: #666
		&:hover
			background-color: rgba(#fff, .5)
			color: #fff!important
			i
				color: transparent

.landing-pro
